// COLOUR VARIABLES
$primary: #0F232E;;
$secondary: #0082d4;
$white: #ffffff;
$dirty-white:#DBE2E9;
$black:#000;

$btn-primary-gradient: linear-gradient(100.19deg, #04FF87 0.1%, #0000FF 154.59%);
$btn--dark-blue: #0F232E;
$background-gradient-green: linear-gradient(265.57deg, #04FF87 -16.4%, #0F232E 84.69%);
$background-gradient-red: linear-gradient(90.19deg, #0F232E -8.03%, #620F18 79.51%);

$border-grey: #e9eaef;
$text-grey: #999999;
$background-grey: #D9D9D9;
$disabledOption: #E6E9EA;
$metallic-grey:#9BAAB9;
$gray-100: #f8f9fa;

$transparent: #ffffff00;
// BORDER VARIABLES
$default-border-radius: 30px;


// USE IN CASE STUDY AND ERROR 404

$tag-border: #99ccdd;
$tag-bg: #0080aa;
$case-study-bg: #fcfafc;
$progress-light: #d4b9d7;
$light-violet: #f1e8f2;
$background-pink: #f8f3f8;

