//======== Woocommerce Header Default =========
.page-header-default {
    min-height: 416px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-position-x: center;
    background-position-y: top;
  
    &__background-overlay {
        height: 100%;
        width: 100%;
        background: #0000004a;
        position: absolute;
        z-index: 1;
    }
  
    .content {
        padding: 0px;
        position: relative;
        padding: 0px 30px 0px 30px;
        z-index: 1;
    }
  
    &__icon-wrapper {
        img {
            min-height: 65px;
            max-height: 175px;
        }
    }
  
    &__heading-wrapper {
        margin-top: 17px;
  
        h1 {
            color: $white;
            font-size: 16px;
        }
    }
  
    &__heading-wrapper {
        .heading-1 {
            font-size: 24px;
        }
    }
  
    &__sub-heading-wrapper {
        margin-top: 17px;
  
        h2 {
            color: $white;
            font-size: 16px;
        }
    }
  
    &__description-wrapper {
        p {
            color: $white;
        }
    }
    &__video-background{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
    }
  }
  


  
  // ============== MEDIA QUERIES ==============
  @media only screen and (min-width: 768px) {
    .page-header-default {
        .content {
            padding: 0px 30px 0px 30px;
        }
  
        &__description-wrapper {
            p {
                max-width: 710px;
            }
        }
    }
  

  }
  
  @media only screen and (min-width: 992px) {

  }
  
  @media only screen and (min-width: 1366px) {
    .page-header-default {
        .content {}
    }
  

  }
  
  @media only screen and (min-width: 1600px) {
    .page-header-default {
        min-height: 520px;
  
        .content {}
    }
  }
  
  @media only screen and (max-width: 768px) {
    .page-header-default {
        min-height: 252px;
        background-position-x: right;
        background-position-y: center;
  
        .content {}
  
        &__icon-wrapper {
            img {
                max-height: 110px;
            }
        }
    }
  }
  
  @media only screen and (max-width: 480px) {
    .page-header-default {
        .content {
            padding: 100px 20px 100px;
        }
    }
  }